In [1]:
# Q1. Write a code to print the data present in the second row of the dataframe, df.
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})
df.iloc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [2]:
# Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?
"""
Ans. Both loc and iloc are functions in Pandas that are used to select specific data from a dataframe.

loc is used to select data from a dataframe based on its label or index. It takes the form df.loc[row_label, column_label], where row_label and column_label can be a single label or a list of labels. For example, df.loc[0, 'Name'] selects the data in the first row and the column labeled 'Name'.

iloc is used to select data from a dataframe based on its integer index. It takes the form df.iloc[row_index, column_index], where row_index and column_index are integers or slices. For example, df.iloc[0, 0] selects the data in the first row and the first column.

The key difference between loc and iloc is that loc uses labels to select data, while iloc uses integer indices.

Here's a quick summary of the differences:

loc is used for label-based indexing, while iloc is used for integer-based indexing.
loc uses the row and column labels to select data, while iloc uses integer indices.
loc supports label slicing and boolean indexing, while iloc supports integer slicing and boolean indexing.

"""

"\nAns. Both loc and iloc are functions in Pandas that are used to select specific data from a dataframe.\n\nloc is used to select data from a dataframe based on its label or index. It takes the form df.loc[row_label, column_label], where row_label and column_label can be a single label or a list of labels. For example, df.loc[0, 'Name'] selects the data in the first row and the column labeled 'Name'.\n\niloc is used to select data from a dataframe based on its integer index. It takes the form df.iloc[row_index, column_index], where row_index and column_index are integers or slices. For example, df.iloc[0, 0] selects the data in the first row and the first column.\n\nThe key difference between loc and iloc is that loc uses labels to select data, while iloc uses integer indices.\n\nHere's a quick summary of the differences:\n\nloc is used for label-based indexing, while iloc is used for integer-based indexing.\nloc uses the row and column labels to select data, while iloc uses integer indices.\nloc supports label slicing and boolean indexing, while iloc supports integer slicing and boolean indexing.\n\n"

In [3]:
# Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
# then find the output for both new_df.loc[2] and new_df.iloc[2].
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.867772  0.977716  0.117709  0.959831  0.867088  0.980394
2  0.863603  0.882087  0.131248  0.110814  0.538663  0.960779
3  0.596806  0.991783  0.005755  0.812534  0.279816  0.723990
4  0.358220  0.141980  0.990881  0.077597  0.716844  0.059599
5  0.812517  0.480597  0.916453  0.653112  0.810470  0.573629
6  0.725861  0.207230  0.628502  0.583862  0.135282  0.248956

In [4]:
new_df = df1.reindex([3,0,1,2])
new_df.loc[2]

column_1    0.863603
column_2    0.882087
column_3    0.131248
column_4    0.110814
column_5    0.538663
column_6    0.960779
Name: 2, dtype: float64

In [5]:
new_df.iloc[2]

column_1    0.867772
column_2    0.977716
column_3    0.117709
column_4    0.959831
column_5    0.867088
column_6    0.980394
Name: 1, dtype: float64

In [6]:
# Q4. Write a code to find the following statistical measurements for the above dataframe df1:
# (i) mean of each and every column present in the dataframe.
# (ii) standard deviation of column, ‘column_2’
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.344585  0.875115  0.856085  0.621093  0.204464  0.784373
2  0.929561  0.700087  0.650539  0.418637  0.007132  0.698080
3  0.266582  0.363851  0.588781  0.745026  0.233564  0.922692
4  0.119418  0.987449  0.706176  0.250951  0.253620  0.128448
5  0.426432  0.074976  0.411862  0.084135  0.508509  0.968361
6  0.455563  0.166260  0.441060  0.729867  0.115344  0.729188

In [7]:
df1.mean()

column_1    0.423690
column_2    0.527956
column_3    0.609084
column_4    0.474951
column_5    0.220439
column_6    0.705190
dtype: float64

In [8]:
df1['column_2'].std()

0.3805858672234384

In [9]:
"""
Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.
If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

"""
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)
df1.loc[:6, 'column_2'] = 'string variable'
df1

   column_1         column_2  column_3  column_4  column_5  column_6
1  0.229919  string variable  0.166304  0.447505  0.950489  0.627320
2  0.815889  string variable  0.969318  0.898016  0.052218  0.636695
3  0.547652  string variable  0.414692  0.454959  0.999706  0.029891
4  0.084531  string variable  0.542333  0.842293  0.257537  0.777462
5  0.465053  string variable  0.635197  0.729583  0.573144  0.966145
6  0.484712  string variable  0.205620  0.174041  0.907176  0.672027

In [11]:
df1['column_2'].mean()

TypeError: Could not convert string variablestring variablestring variablestring variablestring variablestring variable to numeric

In [12]:
# Could not convert string variablestring variablestring variablestring variablestring variablestring variable to numeri

In [13]:
# Q6. What do you understand about the windows function in pandas and list the types of windows functions?
"""
In Pandas, a window function is a function that allows you to perform a calculation across a rolling window of data. This can be useful for tasks like calculating moving averages, cumulative sums, and other time-based calculations.

There are several types of window functions in Pandas, including:

Rolling: A rolling window function returns a rolling window object that enables us to perform rolling window calculations. It calculates the statistic (e.g. mean, sum) over a specified window size, which is moved over the data frame column.

Expanding: An expanding window function returns an expanding window object that enables us to perform expanding window calculations. It calculates the statistic (e.g. mean, sum) over all previous rows up to the current row.

EWM (Exponentially Weighted Moving): An EWM function returns an exponentially weighted window object that enables us to perform exponentially weighted window calculations. It calculates the statistic (e.g. mean, sum) over a specified window size, giving more weight to recent values and less weight to older values.

Rolling with Time-Based Window: A time-based window function is similar to a rolling function, but it uses a time-based index (i.e., DatetimeIndex) to specify the window size.
"""

'\nIn Pandas, a window function is a function that allows you to perform a calculation across a rolling window of data. This can be useful for tasks like calculating moving averages, cumulative sums, and other time-based calculations.\n\nThere are several types of window functions in Pandas, including:\n\nRolling: A rolling window function returns a rolling window object that enables us to perform rolling window calculations. It calculates the statistic (e.g. mean, sum) over a specified window size, which is moved over the data frame column.\n\nExpanding: An expanding window function returns an expanding window object that enables us to perform expanding window calculations. It calculates the statistic (e.g. mean, sum) over all previous rows up to the current row.\n\nEWM (Exponentially Weighted Moving): An EWM function returns an exponentially weighted window object that enables us to perform exponentially weighted window calculations. It calculates the statistic (e.g. mean, sum) over a specified window size, giving more weight to recent values and less weight to older values.\n\nRolling with Time-Based Window: A time-based window function is similar to a rolling function, but it uses a time-based index (i.e., DatetimeIndex) to specify the window size.\n'

In [14]:
# Q7. Write a code to print only the current month and year at the time of answering this question. [Hint: Use pandas.datetime function]
import pandas as pd

# get current date and time
now = pd.datetime.now()

# extract current month and year
current_month = now.month
current_year = now.year

# print current month and year
print("Current month:", current_month)
print("Current year:", current_year)

Current month: 5
Current year: 2023

/tmp/ipykernel_583/2664180300.py:5: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  now = pd.datetime.now()

In [3]:
# Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and calculates the difference between them in days, hours, and minutes using Pandas time delta. The
# program should prompt the user to enter the dates and display the result.
import pandas as pd

# Prompt the user to enter the two dates
date1_str = input("Enter the first date (YYYY-MM-DD): ")
date2_str = input("Enter the second date (YYYY-MM-DD): ")

# Convert the input strings into pandas datetime objects
date1 = pd.to_datetime(date1_str)
date2 = pd.to_datetime(date2_str)

# Calculate the time difference using pandas time delta
time_diff = date2 - date1

# Extract the days, hours, and minutes from the time difference
days = time_diff.days
hours = time_diff.seconds // 3600
minutes = (time_diff.seconds // 60) % 60

# Display the result
print("The difference between", date2_str, "and", date1_str, "is:")
print(days, "days,", hours, "hours,", "and", minutes, "minutes.")

Enter the first date (YYYY-MM-DD):  2023-4-5
Enter the second date (YYYY-MM-DD):  2023-5-6

The difference between 2023-5-6 and 2023-4-5 is:
31 days, 0 hours, and 0 minutes.

In [4]:
# Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified column to a categorical data type. The program should prompt the user to enter the file path, column
# name, and category order, and then display the sorted data.
import pandas as pd

# Prompt the user to enter the file path
file_path = input("Enter the CSV file path: ")

# Read the CSV file into a pandas DataFrame
data = pd.read_csv(file_path)

# Prompt the user to enter the column name and category order
col_name = input("Enter the column name: ")
categories = input("Enter the categories in the desired order, separated by commas: ").split(',')

# Convert the specified column to a categorical data type with the specified category order
cat_dtype = pd.api.types.CategoricalDtype(categories=categories, ordered=True)
data[col_name] = data[col_name].astype(cat_dtype)

# Display the sorted data
sorted_data = data.sort_values(col_name)
print(sorted_data)

KeyboardInterrupt: Interrupted by user

In [ ]:
#Q10. Write a Python program that reads a CSV file containing sales data for different products and visualizes the data using a stacked bar chart to show the sales of each product category over time. The
#program should prompt the user to enter the file path and display the chart.
import pandas as pd
import matplotlib.pyplot as plt

# Prompt the user to enter the file path
file_path = input("Enter the CSV file path: ")

# Read the CSV file into a pandas DataFrame
data = pd.read_csv(file_path)

# Convert the date column to a pandas datetime object
data['date'] = pd.to_datetime(data['date'])

# Pivot the data to create a table of sales by product category and date
sales_by_category = pd.pivot_table(data, values='sales', index='date', columns='category', aggfunc='sum')

# Create a stacked bar chart of the sales by product category over time
ax = sales_by_category.plot(kind='bar', stacked=True, figsize=(10, 6))

# Set the title and axis labels
ax.set_title('Sales by Product Category')
ax.set_xlabel('Date')
ax.set_ylabel('Sales')

# Display the chart
plt.show()

In [ ]:
"""
Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write
a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and
displays the results in a table.
The program should do the followingM
I Prompt the user to enter the file path of the CSV file containing the student dataR
I Read the CSV file into a Pandas DataFrameR
I Calculate the mean, median, and mode of the test scores using Pandas toolsR
I Display the mean, median, and mode in a table.
Assume the CSV file contains the following columnsM
I Student ID: The ID of the studentR
I Test Score: The score of the student's test.
Example usage of the program:
Enter the file path of the CSV file containing the student data: student_data.csv
+-----------+--------+
| Statistic | Value |
+-----------+--------+
| Mean | 79.6 |
| Median | 82 |
| Mode | 85, 90 |
+-----------+--------+
Assume that the CSV file student_data.csv contains the following data:
Student ID,Test Score
1,85
2,90
3,80
4,75
5,85
6,82
7,78
8,85
9,90
10,85
The program should calculate the mean, median, and mode of the test scores and display the results
in a table.

"""

In [ ]:
import pandas as pd

# Prompt the user to enter the file path
file_path = input("Enter the file path of the CSV file containing the student data: ")

# Read the CSV file into a pandas DataFrame
data = pd.read_csv(file_path)

# Calculate the mean, median, and mode of the test scores
mean_score = data['Test Score'].mean()
median_score = data['Test Score'].median()
mode_score = data['Test Score'].mode()

# Display the results in a table
results = pd.DataFrame({
    'Statistic': ['Mean', 'Median', 'Mode'],
    'Value': [mean_score, median_score, ', '.join(map(str, mode_score.tolist()))]
})
print(results.to_string(index=False))